asgiref==3.7.2
black==23.12.1
click==8.1.7
coverage==7.3.4
Django==4.2
django-debug-toolbar==4.2.0
django-filter==23.5
djangorestframework==3.14.0
drf-standardized-errors==0.12.6
factory-boy==3.3.0
Faker==21.0.0
flake8==6.1.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
pycodestyle==2.11.1
pyflakes==3.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
whitenoise==6.6.0
